.tagSearcher {
    display: flex;
}

.tagSearcher__inputAndList {
    width: 220px;
}

.tagSearcher__input {
    width: 100%;
}

.tagSearcher__list {
    margin: 0;
    padding: 0;
    
    border-radius: 0 0 10px 10px;
    border: 1px solid grey;
    border-top: none;

    list-style: none;
    overflow: hidden;
}

.tagSearcher__listItem {
    padding-left: 12px;
}

.tagSearcher__listItem:hover {
    background-color: #42a5f5;
    color: white;
}

.tagSearcher__selectedTagsList {
    padding: 0;
    margin-left: 10px;
    
    list-style: none;
    height: 100%;
}

.tagSearcher__selectedTagItem {
    display: inline-block;

    border-radius: 8px;
    padding: 4px;
    margin-right: 4px;
    background-color: #42a5f5;
    color: white;
}